In [1]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

In [2]:
spark = SparkSession.builder.appName("Spark introduction").getOrCreate()
dy_pyspark = spark.read.csv("tips.csv", header=True, inferSchema=True)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

25/04/09 14:46:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
dy_pyspark = dy_pyspark.withColumn("top_bill_ratio", (dy_pyspark["tip"]/dy_pyspark["total_bill"] * 100))
print(dy_pyspark.show(5))

+----------+----+------+------+---+------+----+------------------+
|total_bill| tip|   sex|smoker|day|  time|size|    top_bill_ratio|
+----------+----+------+------+---+------+----+------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|5.9446733372572105|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|16.054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|16.658733936220845|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 13.97804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|14.680764538430255|
+----------+----+------+------+---+------+----+------------------+
only showing top 5 rows

None

In [4]:
dy_pyspark = dy_pyspark.drop('top_bill_ratio')
print(dy_pyspark.show(5))

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

None

In [5]:
dy_pyspark.withColumnRenamed('sex', 'gender').show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|gender|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [8]:
dy_pyspark.withColumnRenamed('sex', 'gender')\
    .withColumnRenamed('time', 'event').show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|gender|smoker|day| event|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

25/04/09 16:16:02 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 1487936 ms exceeds timeout 120000 ms
25/04/09 16:16:02 WARN SparkContext: Killing executors is not supported by current scheduler.

# handling missing values

In [16]:
dy_pyspark = spark.read.csv("trips_missing.csv", header=True, inferSchema=True)
dy_pyspark.show(20)
dy_pyspark.count()
# dy_pyspark.shape()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner| 2.0|
|     10.34|1.66|  Male|    No|Sun|Dinner| 3.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner| 3.0|
|     23.68|3.31|  Male|    No|Sun|Dinner| 2.0|
|     24.59|3.61|Female|    No|Sun|Dinner| 4.0|
|     25.29|4.71|  Male|    No|Sun|Dinner| 4.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner| 2.0|
|     26.88|3.12|  Male|    No|Sun|Dinner| 4.0|
|     15.04|1.96|  Male|    No|Sun|Dinner| 2.0|
|     14.78|3.23|  Male|    No|Sun|Dinner| 2.0|
|     10.27|1.71|  Male|    No|Sun|Dinner| 2.0|
|     35.26| 5.0|Female|    No|Sun|Dinner| 4.0|
|     15.42|1.57|  Male|    No|Sun|Dinner| 2.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner| 4.0|
|     14.83|3.02|Female|    No|Sun|Dinner| 2.0|
|     21.58|3.92|  Male|    No|Sun|Dinner| 2.0|
|     10.33|1.67|Female|    No|Sun|Dinner| 3.0|
|     16.29|3.71|  Male|    No|Sun|Dinner| 3.0|
|     16.97| 3.5|Female|    No|Sun|Dinner| 3.0|
|     20.65|3.35|  Male|    No|Sat|Dinner| 3.0|
+----------+----+------+------+---+------+----+
only showing top 20 rows

112

## Removing observations with null values

In [21]:
clean_df = dy_pyspark.na.drop()
clean_df.count()
clean_df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner| 2.0|
|     10.34|1.66|  Male|    No|Sun|Dinner| 3.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner| 3.0|
|     23.68|3.31|  Male|    No|Sun|Dinner| 2.0|
|     24.59|3.61|Female|    No|Sun|Dinner| 4.0|
|     25.29|4.71|  Male|    No|Sun|Dinner| 4.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner| 2.0|
|     26.88|3.12|  Male|    No|Sun|Dinner| 4.0|
|     15.04|1.96|  Male|    No|Sun|Dinner| 2.0|
|     14.78|3.23|  Male|    No|Sun|Dinner| 2.0|
|     10.27|1.71|  Male|    No|Sun|Dinner| 2.0|
|     35.26| 5.0|Female|    No|Sun|Dinner| 4.0|
|     15.42|1.57|  Male|    No|Sun|Dinner| 2.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner| 4.0|
|     14.83|3.02|Female|    No|Sun|Dinner| 2.0|
|     21.58|3.92|  Male|    No|Sun|Dinner| 2.0|
|     10.33|1.67|Female|    No|Sun|Dinner| 3.0|
|     16.29|3.71|  Male|    No|Sun|Dinner| 3.0|
|     16.97| 3.5|Female|    No|Sun|Dinner| 3.0|
|     20.65|3.35|  Male|    No|Sat|Dinner| 3.0|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [23]:
dy_pyspark.na.drop(how="all").count()

112

In [25]:
dy_pyspark.na.drop(how="any", thresh=2).count()

110

In [27]:
dy_pyspark.na.drop(how="any", subset=['tip']).count()

108

In [31]:
dy_pyspark.na.fill("Missing").tail(10)

[Row(total_bill='18.28', tip=4.0, sex='Male', smoker='Missing', day='Missing', time='Lunch', size=2.0),
 Row(total_bill='Missing', tip=4.71, sex='Male', smoker='No', day='Missing', time='Dinner', size=4.0),
 Row(total_bill='23.68', tip=3.31, sex='Male', smoker='No', day='Missing', time='Dinner', size=None),
 Row(total_bill='17.78', tip=3.27, sex='Male', smoker='No', day='Missing', time='Missing', size=2.0),
 Row(total_bill='32.4', tip=6.0, sex='Missing', smoker='No', day='Missing', time='Dinner', size=4.0),
 Row(total_bill='34.81', tip=5.2, sex='Missing', smoker='No', day='Sun', time='Dinner', size=None),
 Row(total_bill='16.93', tip=3.07, sex='Female', smoker='Missing', day='Missing', time='Dinner', size=3.0),
 Row(total_bill='22.23', tip=5.0, sex='Male', smoker='No', day='Sun', time='Missing', size=None),
 Row(total_bill='Missing', tip=None, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2.0),
 Row(total_bill='Missing', tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=None)]

In [39]:
dy_pyspark = dy_pyspark.withColumn("total_bill", dy_pyspark["total_bill"].cast("double"))
dy_pyspark.printSchema()
# dy_pyspark.show()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: double (nullable = true)

In [40]:
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=["total_bill", "tip"],
    outputCols=["{}_imputed".format(c) for c in ["total_bill", "tip"]]
).setStrategy("mean")

imputer.fit(dy_pyspark).transform(dy_pyspark).tail(20)

[Row(total_bill=10.33, tip=1.67, sex=None, smoker='No', day='Sun', time='Dinner', size=None, total_bill_imputed=10.33, tip_imputed=1.67),
 Row(total_bill=None, tip=3.21, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=None, total_bill_imputed=19.757980769230763, tip_imputed=3.21),
 Row(total_bill=None, tip=3.0, sex=None, smoker='No', day='Thur', time='Lunch', size=2.0, total_bill_imputed=19.757980769230763, tip_imputed=3.0),
 Row(total_bill=None, tip=2.2, sex='Female', smoker='No', day=None, time='Dinner', size=2.0, total_bill_imputed=19.757980769230763, tip_imputed=2.2),
 Row(total_bill=39.42, tip=7.58, sex=None, smoker='No', day=None, time='Dinner', size=4.0, total_bill_imputed=39.42, tip_imputed=7.58),
 Row(total_bill=10.27, tip=1.71, sex=None, smoker='No', day='Sun', time='Dinner', size=None, total_bill_imputed=10.27, tip_imputed=1.71),
 Row(total_bill=None, tip=None, sex=None, smoker=None, day=None, time=None, size=None, total_bill_imputed=19.757980769230763, tip_imputed=3.1556481481481473),
 Row(total_bill=16.31, tip=2.0, sex='Male', smoker='No', day='Sat', time=None, size=None, total_bill_imputed=16.31, tip_imputed=2.0),
 Row(total_bill=12.69, tip=None, sex=None, smoker='No', day='Sat', time='Dinner', size=2.0, total_bill_imputed=12.69, tip_imputed=3.1556481481481473),
 Row(total_bill=18.29, tip=3.76, sex=None, smoker=None, day='Sat', time='Dinner', size=4.0, total_bill_imputed=18.29, tip_imputed=3.76),
 Row(total_bill=18.28, tip=4.0, sex='Male', smoker=None, day=None, time='Lunch', size=2.0, total_bill_imputed=18.28, tip_imputed=4.0),
 Row(total_bill=None, tip=4.71, sex='Male', smoker='No', day=None, time='Dinner', size=4.0, total_bill_imputed=19.757980769230763, tip_imputed=4.71),
 Row(total_bill=23.68, tip=3.31, sex='Male', smoker='No', day=None, time='Dinner', size=None, total_bill_imputed=23.68, tip_imputed=3.31),
 Row(total_bill=17.78, tip=3.27, sex='Male', smoker='No', day=None, time=None, size=2.0, total_bill_imputed=17.78, tip_imputed=3.27),
 Row(total_bill=32.4, tip=6.0, sex=None, smoker='No', day=None, time='Dinner', size=4.0, total_bill_imputed=32.4, tip_imputed=6.0),
 Row(total_bill=34.81, tip=5.2, sex=None, smoker='No', day='Sun', time='Dinner', size=None, total_bill_imputed=34.81, tip_imputed=5.2),
 Row(total_bill=16.93, tip=3.07, sex='Female', smoker=None, day=None, time='Dinner', size=3.0, total_bill_imputed=16.93, tip_imputed=3.07),
 Row(total_bill=22.23, tip=5.0, sex='Male', smoker='No', day='Sun', time=None, size=None, total_bill_imputed=22.23, tip_imputed=5.0),
 Row(total_bill=None, tip=None, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2.0, total_bill_imputed=19.757980769230763, tip_imputed=3.1556481481481473),
 Row(total_bill=None, tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=None, total_bill_imputed=19.757980769230763, tip_imputed=2.0)]

In [41]:
df = dy_pyspark
df.filter("tip <= 2").show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner| 2.0|
|     10.34|1.66|  Male|    No|Sun|Dinner| 3.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner| 2.0|
|     15.04|1.96|  Male|    No|Sun|Dinner| 2.0|
|     10.27|1.71|  Male|    No|Sun|Dinner| 2.0|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [42]:
df.filter("tip <= 2").select(["total_bill", "tip"]).show(5)

+----------+----+
|total_bill| tip|
+----------+----+
|     16.99|1.01|
|     10.34|1.66|
|      8.77| 2.0|
|     15.04|1.96|
|     10.27|1.71|
+----------+----+
only showing top 5 rows

In [44]:
df.filter((df['tip'] <= 1) | (df['tip'] >= 5))\
    .select(['total_bill', 'tip']).show(20)

+----------+----+
|total_bill| tip|
+----------+----+
|     35.26| 5.0|
|     39.42|7.58|
|     31.27| 5.0|
|      30.4| 5.6|
|     22.23| 5.0|
|      32.4| 6.0|
|     34.81| 5.2|
|     48.27|6.73|
|      3.07| 1.0|
|     25.28| 5.0|
|     32.68| 5.0|
|     34.83|5.17|
|     24.71|5.85|
|     39.42|7.58|
|      32.4| 6.0|
|     34.81| 5.2|
|     22.23| 5.0|
+----------+----+

In [47]:
df = df.na.drop(subset=["sex"])
df.groupBy("sex").sum().show()

+------+------------------+--------+---------+
|   sex|   sum(total_bill)|sum(tip)|sum(size)|
+------+------------------+--------+---------+
|Female|            464.16|   72.69|     63.0|
|  Male|1432.4600000000003|   239.2|    184.0|
+------+------------------+--------+---------+

In [48]:
df.groupBy("day").max().select(["day", "max(tip)"]).show()

+----+--------+
| day|max(tip)|
+----+--------+
|Thur|    5.85|
| Sun|     6.0|
|null|    4.71|
| Sat|    7.58|
| Fri|     3.0|
+----+--------+

In [49]:
df.groupBy("day").count().show()

+----+-----+
| day|count|
+----+-----+
|Thur|   14|
| Sun|   35|
|null|    6|
| Sat|   45|
| Fri|    2|
+----+-----+

In [51]:
df.agg({"tip": "sum"}).show()

+------------------+
|          sum(tip)|
+------------------+
|311.88999999999993|
+------------------+

In [52]:
df.groupBy("sex").agg({"tip": "sum", "total_bill": "max"}).show()

+------+--------+---------------+
|   sex|sum(tip)|max(total_bill)|
+------+--------+---------------+
|Female|   72.69|          35.26|
|  Male|   239.2|          48.27|
+------+--------+---------------+

In [53]:
spark.stop()